body, html{
    background-color: rgb(0, 0, 0);
    display: block;
    width: 100%;
}
header{
    background: linear-gradient(to bottom, rgb(44 44 44 / 52%), rgb(40 40 40 / 73%)),url(asset/backimage.jpg);
    /* background-image: url(asset/backimage.jpg); */
    width: 100%;
    height: 650px;
    box-shadow: inset 0px 0px 400px black;
}

nav{
    display: flex;
    padding: 30px;
}
#logo{
    width: 150px;
}
.left, ul{
    position: absolute;
    right: 0;

}
.left,ul,li{
    display: flex;
    margin: 0 15px;
    text-align: center;
}
.btn-eng{
    color: #fff;
    border-radius: 3px;
    border: 1px solid#fff;
}
.btn-signup{
    width: 80px;
    background-color: red;
    color: #fff;
    border-radius:2px;
    border: 1px solid red;

}
.card{
    color: #fff;
}
.card-middle{
    border-color: transparent;

}
.cta{
    color: #fff;
    text-align: center;
    margin:120px;
}
h1{
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 20px;
    color: #fff;
}
h3{
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 30px;
}
h4{
    font-size: 18px;
    font-weight: 400;
}
ul ,.home-login{
display: flex;
}
.emailbox{
    width: 55%;
    height: 50px;
    margin-left:75px;
}
.get-started{
    width: 25%;
    height:48px ;
    color:#fff;
    font-size: 20px;
    background-color: rgb(214, 37, 37);
    border: 0px solid red;
}
hr{
    margin: 0;
    width: 100%;
    height: 9px;
    border: none;
    
    background-color: #6e6e6e;
}
/* Enjoy on your TV. seection */
.row{
    color: #fff;
}
.tv-image-container{
    /* margin-left: 50px; */
    width: 50%;
    /* background-color: blue; */
    /* align-items: center; */
}
.tv-image{
    position: relative;
    top:  -330px;
    left: -70px;
    width: 10cm;
    
}
.video-text-container{
    font-size: 20px;
    font-weight:500;
}
.second-container{
    margin-top: 100px;
}
.our-story-card-video{
    width: 8cm;
    height: 10cm;
    position: relative;
    right: 20px
    
}
.tv-margin{
    position: relative;
    top: -120px;
    right: -110px;
}
.justify-text{
    justify-content: left !important;
}
.container{
    margin: 0;
    width: 50cm;
    height: 300px;
    /* background-color: red; */
}

/* download and offline watch videos */
.display-block{
    position: relative;
    
}

.girl-img{
    margin:0px 0;
    width:10cm;
    padding: 0 40px;
}
.girl-container{
    position: relative;
    padding: 20px 0;
}

/* computer animaiton */



.asset-container{
    /* background-color: blue; */
    width: 50%;
    display: block;
    position: relative;
    margin: 0px 150px;
    align-items: center;
}
.asset-container .computer-img{
    position: absolute;
    width: 11cm;
    top: -27px;
    right: -125px;
    /* background-color: red; */
}
.asset-container .saif-video{
    position: absolute;
    width: 11.5cm;
    height: 4cm;
    right: -126px;
}
/* FAQ */
.faq-container{
    margin-top: 50px;
    margin-bottom: 50px;
    height: 680px;
}
.faq{
   width: 1200px;
   margin-left: 200px;
}
.accordion {
    background-color: #303030;
    color: #fff;
    /* cursor: pointer; */
    padding: 18px;
    width: 50%;
    height: 70px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 3px;
    
}

.active, .accordion:hover {
    background-color: none; 
}
.panel p{
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

.panel {
    width: 50%;
    padding: 0 18px;
    margin-bottom: 3px;
    display: none;
    background-color: #303030;
    overflow: hidden;
}
h2{
    color: #fff;
    font-weight: bold;
    margin-bottom:50px ;
}
/* footer on netflix */
.footer{
    margin: 0px 50px;
    margin-top: 30px;
    width: 100%;
    /* background-color: blue; */
    /* background-color: red; */
}
.footer-structure{
    margin: 0;
    width: 800px;
}
.footer-top{
    /* background-color: red; */
    
    color:#707070;
}
.footer-menu{
    color:#707070;
    margin: 5px;
    font-size: 13px;
}
.copyright{
    margin-top: 20px;
    color:#707070;
    
}
.footer-container{
    height: 142px;
}